@import '/src/constants.scss';

.user-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: $mobile-blocks-width;
  min-width: $mobile-blocks-width;

  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .user-message {
    max-width: $desktop-tickets-width;
    min-width: $desktop-tickets-width;
  }
}