@import '/src/constants.scss';

.filters {
  background-color: #fff;

  max-width: $mobile-blocks-width;
  min-width: $mobile-blocks-width;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inherit;
  

  &__title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    font-weight: 500;
    width: auto;
    margin: 0;
    margin-bottom: 10px;
  }



  &__checkbox {
    
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
    
    
  }
}

.Filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 232px;
  height: 252px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #ffffff;
}
.FilterTitle {
  display: block;
  width: 192px;
  height: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.FilterList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.FilterItem {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.FilterItem:hover {
  background: #f1fcff;
}
.Checkbox {
  margin-right: 10px;
  cursor: pointer;
  outline: none;
}
.FilterLabel {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #4a4a4a;
}

@media (min-width: 1024px) {
  .filters {
    max-width: $desktop-filters-width;
    min-width: $desktop-filters-width;
    box-sizing: border-box;
    margin: 0;
    max-height: 252px;
    justify-content: start;
    font-size: 13px;

    &__title {
      text-align: start;
      font-weight: 500;
    }

    &__filter-item {
      
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      height: 40px;
      line-height: 30px;
      font-size: inherit;
    }
  }
}
