@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

$mobile-width: 420px;
$mobile-blocks-width: 400px;
$desktop-width: 1024px;
$desktop-tickets-width: 502px;
$desktop-filters-width: 232px;
$background-color: #f3f7fa;
$text-color: #4a4a4a;
$base-color: #2196f3;
$secondary-color: #a0b0b9;
$hover-color: #f1fcff;
$ticket-hover-color: #f9feff;
